<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/layout/quiz.jpg" alt="Sakai logo"
                class="mb-5" style="width:81px; height:60px;">
        </div>
        <div class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 pb-7 px-4"
                style="padding-top: 10px; border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <p-messages [value]="msgs"></p-messages>
                    <div class="text-900 text-3xl font-medium mb-3">Reset your password!</div>
                    <span class="text-600 font-medium">Enter your user account's verified email address  and we will send<br> you a password reset link.</span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <form [formGroup]="reactiveForm">
                        <div class="field p-fluid">
                            <label htmlFor="username" class="block text-900 font-medium text-xl mb-2">Username</label>
                            <input pInputText [(ngModel)]="username" formControlName="username" placeholder="Username"
                                id="username" type="text" />
                            <small
                                *ngIf="reactiveForm.controls.username.errors && reactiveForm.controls.username.errors.required && reactiveForm.controls.username.touched"
                                class="p-error">Please Enter your username.</small>
                        </div>
    
                        <button pButton pRipple label="Confirm" type="submit" class="w-full p-3 text-xl"
                            [disabled]="!reactiveForm.valid" (click)="resetPass()"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>