<div class="card">
    <h1>Test {{test.name}}</h1>
    <div class="stepper-wrapper">
        <div class="stepper-item " [ngClass]="{'completed': i < currentStep , 'active' : i === currentStep -1 }"
            *ngFor="let item of questions; let i = index">
            <div class="step-counter">{{i + 1}}</div>
        </div>
    </div>
    <form class="form">

        <h2 style="margin-bottom: 30px;">{{questions[currentStep-1]?.question}}</h2>
        <ng-container *ngIf="questions[currentStep-1]?.typeQuestion !== typeQuestionEnum.OTHERS">
            <div class="inputGroup" *ngFor="let suggestion of questions[currentStep-1]?.suggestions; let i = index">
                <input id="option{{i}}" name="option{{i}}" type="checkbox" [(ngModel)]="suggestion.isChecked" />
                <label for="option{{i}}">{{suggestion.description}}</label>
            </div>
        </ng-container>

        <textarea pInputTextarea *ngIf="questions[currentStep-1]?.typeQuestion === typeQuestionEnum.OTHERS"
            placeholder="Please put your quetion" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="questions[currentStep-1].answered" autoResize rows="4" cols="100"></textarea>




        <h2 *ngIf="false">Radio Buttons</h2>
        <div *ngIf="false" class="inputGroup">
            <input id="radio1" name="radio" type="radio" />
            <label class="radio" for="radio1">Yes</label>
        </div>
        <div *ngIf="false" class="inputGroup">
            <input id="radio2" name="radio" type="radio" />
            <label class="radio" for="radio2">No</label>
        </div>
    </form>
    <div class="buttons">
        <button style="min-width: 105px;" pButton pRipple label="Next" icon="pi pi-angle-double-right" iconPos="right"
            class="mr-2 mb-2" (click)="goToNextStep()"></button>
    </div>

</div>