<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/layout/quiz.jpg" alt="Sakai logo"
                class="mb-5" style="width:81px; height:60px;">
        </div>
        <div class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 pb-7 px-4"
                style="padding-top: 10px; border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <p-messages [value]="msgs"></p-messages>
                    <div class="text-900 text-3xl font-medium mb-3">Reset your password!</div>
                    <span class="text-600 font-medium"> Make sure it's at least 15 characters OR at least 8 characters <br>including a number and a lowercase letter.</span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <form [formGroup]="reactiveForm">
                        <div class="field p-fluid">
                            <label htmlFor="passwrd" class="block text-900 font-medium text-xl mb-2">Password</label>
                            <span class="p-input-icon-right">
                                <input pInputText [(ngModel)]="password" formControlName="password"
                                    placeholder="Password" id="password" [type]="typeInputPassword" />
                                <i [ngClass]="{'pi-eye-slash':!isIconPasswordClicked,'pi-eye': isIconPasswordClicked , 'pi':true}"
                                    style="cursor: pointer;"
                                    (click)="isIconPasswordClicked = !isIconPasswordClicked"></i>
                            </span>
                            <small
                                *ngIf="reactiveForm.controls.password.errors && reactiveForm.controls.password.errors.required && reactiveForm.controls.password.touched"
                                class="p-error">
                                Please Enter your password.
                            </small>
                        </div>

                        <div class="field p-fluid">
                            <label htmlFor="passwrd" class="block text-900 font-medium text-xl mb-2">Confirm password</label>
                            <span class="p-input-icon-right">
                                <input pInputText [(ngModel)]="newpassword" formControlName="newpassword"
                                    placeholder="Confirm password" id="password" [type]="typeInputPassword2" />
                                <i [ngClass]="{'pi-eye-slash':!isIconPasswordClicked2,'pi-eye': isIconPasswordClicked2 , 'pi':true}"
                                    style="cursor: pointer;"
                                    (click)="isIconPasswordClicked2 = !isIconPasswordClicked2"></i>
                            </span>
                            <small
                                *ngIf="reactiveForm.controls.newpassword.errors && reactiveForm.controls.newpassword.errors.required && reactiveForm.controls.newpassword.touched"
                                class="p-error">
                                Please Enter your password.
                            </small>
                        </div>
                        <div class="flex align-items-center justify-content-between mb-5">
                            <div class="flex align-items-center">
    
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)" routerLink="/login">login</a>
                        </div>
                        <button pButton pRipple label="Change" type="submit" class="w-full p-3 text-xl"
                        [disabled]="reactiveForm.invalid" (click)="confirmNewPassword()"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>